* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* First part of the website */
header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.links {
  display: flex;
  /* justify-content: space-around; */
  gap: 16px;
  color: #f9faf8;
}

.intro {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px;
  gap: 50px;
}

.container h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.tree-image {
  max-width: 400px;
  min-width: 150px;
}

.container p {
  font-size: 18px;
  color: #e5e7eb;
}

.signup-button {
  background-color: #3882f6;
  padding: 8px 24px;
  border-radius: 10px;
  color: #f9faf8;
  margin-top: 16px;
  font-size: 1.1em;
}

.info {
  background-color: white;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 40px 0px;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  border: 3px solid blue;
  border-radius: 5px;
  width: 150px;
  height: 150px;
}

.single-card-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: center;
}

.card-text {
  margin-top: 8px;
}
